@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;

}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.login-content{
    width: 90%;
    margin: auto;
    background-color: #4E5897;

}
.login-img{
    display: flex;
    justify-content: center;
    padding: 80px 0px 0px 0px;
    margin-bottom: 20px;
}
.login-form{

}
form{
    
}

.login-form input{
    display: block;
    margin: 0 auto 15px;
    width: 320px;
    height: 48px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding: 0 15px;
}
.login-form input[type=submit] {
    background: linear-gradient(91.23deg, #4E5897 0%, #141727 100%);

    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.login-form a{
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #ADADAD;
}
.login-footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.login-footer p{
    font-size: 12px;
    font-weight: 500px;
    color:#ADADAD;
}

/** Responsive for login page 1 **/
@media(max-width: 370px){
    .login-form input{
        margin: 0 auto 15px;
        width: 290px;
        height: 40px;

}